.aider*

env/
*.env
*.local

todo_prompts.md

#ingnore __pycache__ folders and their contents
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

ml_models/*.pth
ml_models/*.pkl
ml_models/*.h5
ml_models/*.ckpt
ml_models/*.pt
ml_models/*.bin
ml_models/*.model
ml_models/*.onnx
ml_models/*.tflite
ml_models/*.pb
ml_models/*.save
ml_models/*.joblib
ml_models/*.save
ml_models/*.zip
ml_models/*.tar.gz
ml_models/*.tar
ml_models/*.gz      